extends layout

block page
  - var menu = "admin" 
 
block content
  .admin(ng-app="app", ng-controller="AdminController")
    p(ng-hide="articles.length")
      | Nothing to display. Add a new 
      a(href="/new-post") article
      | .
    table.table.table-stripped(ng-show="articles.length")
      thead
        tr
          th(colspan="2") Actions
          th Post Title
      tbody
        tr(ng-repeat="article in articles", ng-class="article.published?'published':'unpublished'")
          td.action
            button.btn.btn-danger.btn-sm.remove(type="button")
              span.glyphicon.glyphicon-remove(title="Remove", ng-click="removeArticle(article)")
          td.action
            button.btn.btn-danger.btn-sm.remove(type="button")
              span.glyphicon.glyphicon-pause(title="Unpublish", ng-click="togglePublishingState(article)", ng-show="article.published")
              span.glyphicon.glyphicon-play(title="Publish", ng-click="togglePublishingState(article)", ng-hide="article.published")
          td {{article.title}}
  script(src="javascripts/admin.js")
